{deps, [
    {erlydtl, "",{git, "https://github.com/erlydtl/erlydtl.git",{branch, "master"}}}
    ]}.

{plugins, [
  {rebar3_intellij_plugin, ".*", {git, "https://github.com/binarytemple/rebar3_intellij_plugin.git", {branch, "master"}}}
]}.

{provider_hooks, [
    {pre, [{compile, {intellij, generate}}]}
]}.
